* {
	 margin: 0; 
	 padding: 0; 
}


h1{
	font-size:3.5em;;
	
}
h3{
	font-size: 1.5em;
}
nav{
	background-color: #FF6600;
	color: #FFFFFF;	
	width:100%;
	padding: 0.5%;
	text-align:center;
}
ul{
	list-style-type: none; /*Removes the bullets. A navigation bar does not need list markers*/
	margin: 0; /*remove espaço em branco entre o menu, healder e sessões*/
	
}
li{
	display: inline;/*remove the line breaks before and after each list item, to display them on one line*/
	
}
#sessao0{
	background-color: #FF0000;
	color: #FFFFFF;	
	text-align:center;
	width: 100%; 
    padding: 1%;	
}
#sessao1{
	background-color: #FFFF00;
	width: 100%; /*fullscreem*/
    height:100%; /*fullscreem*/
}
#sessao2{
	background-color: #00FF00;
	width: 100%; /*fullscreem*/
    height:100%; /*fullscreem*/
}
#sessao3{
	background-color: #0099FF;
	width: 100%; /*fullscreem*/
    height:100%; /*fullscreem*/
}
#sessao4{
	background-color: #0000CC;
	width: 100%; /*fullscreem*/
    height:100%; /*fullscreem*/
}
footer{
	background-color: #6600CC;
	height:25%; /*fullscreem*/
	text-align:center;
}
